solutions/Pipeline_Test/Workflows/POC-OwnerChangeDemo-8C37DFF2-E180-F111-AB0E-0022480A5DB5.json
{
  "properties": {
    "connectionReferences": {
      "shared_office365": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "pes_cr_Office365Outlook"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_smtp": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsmtp_77a76"
        },
        "api": {
          "name": "shared_smtp"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "01b9a485-2b3c-4376-a746-1ab951008dc5"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Compose": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "4597d1e8-84d5-40ba-9f06-e8957591f423"
          },
          "type": "Compose",
          "inputs": "Hello from DEV"
        },
        "Send_an_email_(V2)": {
          "runAfter": {
            "Send_Email_(V3)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8daae921-052c-4a4e-9ecb-3947910cb0b9"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365",
              "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "emailMessage/To": "Aman.Kumar4@infinite.com",
              "emailMessage/Subject": "TEST Email - From DEV",
              "emailMessage/Body": "<p class=\"editor-paragraph\">@{outputs('Compose')}</p>",
              "emailMessage/Importance": "Normal"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Send_Email_(V3)": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1d689a72-dab4-485c-876e-9a172180657e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_smtp",
              "operationId": "SendEmailV3",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_smtp"
            },
            "parameters": {
              "emailMessage/To": "Vinothkumar.Prabakaran@barrelfuel.com",
              "emailMessage/Body": "<p class=\"editor-paragraph\">@{outputs('Compose')}</p>"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}